* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.main-menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-menu a {
  display: block;
  background: #666;
  color: #fff;
  width: 100px;
  padding: 20px;
  font-size: 16px;
  text-decoration: none;
  border-right: 1px solid white;
}

.amenu {
  display: none;
}



@media (max-width:700px){
  .main-menu {
    overflow: hidden;
  }

  .main-menu ul {
    display: block;
    max-height: 0;
    transition: max-height 1s;
  }

  .main-menu a {
    width: 100%;
  }

  label.amenu {
    display: block;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
  }

  input.amenu:checked ~ ul {
    display: block;
    max-height: 1000px;
    transition: max-height 1s ease-in;
  }
}
